<h3> About ehLabs</h3>
<p>
  ehLabs was created as a way to help with personal projects and research. ehLabs stands for
  Electronic Heuristic Laboratory, inspired by
  <a href="https://en.wikipedia.org/wiki/HAL_9000">
    HAL9000; Heuristically programmed ALgorithmic computer
  </a>
  .
</p>
<h4> Software Stack</h4>
<p>
  Current architecture consists of a flask web app, written in python3 and a postgresql database
  hosted on a Raspberry Pi. News data is powered by
  <a href="https://newsapi.org/">NewsApi.org</a>
  . Weather data is powered by
  <a href="http://openweathermap.org/">OpenWeatherMap</a>
  . The godsay marquee is inspired by Terry A. Davis and its wordlist was taken directly from
  TempleOS sourcecode. Randomnes provided by the NIST beacon.
</p>
