<ul nz-menu nzMode="inline" style="width: 240px">
  <li nz-menu-item [nzMatchRouter]="true" [nzMatchRouterExact]="true">
    <a routerLink="/chat">Chat</a>
  </li>
  <li nz-submenu nzTitle="one on ones">
    <ul>
      <li *ngFor="let user of users" nz-menu-item [nzMatchRouter]="true">
        <a [routerLink]="'/chat/' + user.name" >
          {{user.name}}
        </a>
      </li>
    </ul>
  </li>
</ul>
