<ng-container *ngIf="!isLogged()">
  <h3>Chat</h3>
  <p>
    Welcome to ehLabs. Please
    <a routerLink="/login">logn</a>
    to join the chatroom.
  </p>
</ng-container>
<ng-container *ngIf="isLogged()">
  <app-chat-menu [users]="users"></app-chat-menu>
  <ng-container *ngIf="chatMode">
    <div class="scroll-context">
      <p *ngIf="message">{{message}}</p>
      <app-chat-list
        [chatMode]="chatMode"
        [errorMessage]="chatErrorMessage"
        [isLoading]="isLoadingChats"
        [chats]="chats"
      ></app-chat-list>
    </div>
    <app-compose-chat [chatMode]="chatMode"></app-compose-chat>
  </ng-container>
</ng-container>

