<p *ngIf="isLoading">loading chats...</p>
<p *ngIf="errorMessage">{{errorMessage}}</p>
<p *ngIf="!isLoading && !chats.length">No messages</p>
<ul>
  <app-chat-card *ngFor="let chat of chats" [chat]="chat"></app-chat-card>
</ul>
