:host > * {
  background: white;
}

app-chat-menu {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  min-width: 250px;
  max-width: 250px;
  overflow: auto;
}

.scroll-context {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 200px;
  left: 250px;
  overflow: auto;
}

app-compose-chat {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 250px;
  min-height: 200px;
  max-height: 200px;
}
