<form #form ngForm nz-form nzLayout="vertical" (ngSubmit)="sendChat()">
  <h4>{{getFormTitle()}}</h4>
  <nz-form-item>
    <nz-form-label nzFor="message">Message</nz-form-label>
    <nz-form-control>
      <input name="message" [(ngModel)]="message" id="message"/>
    </nz-form-control>
  </nz-form-item>
  <button nz-button type="submit">Send</button>
  <p *ngIf="errorText">{{errorText}}</p>
</form>
