<nz-card>
  <form *ngIf="!authService.isLogged()" nz-form ngForm (ngSubmit)="sumbitLogin()" #loginForm="ngForm">
    <h2>Login to ehlabs</h2>
    <nz-form-item>
      <nz-form-label nzFor="email" [nzSpan]="3" nzRequired>Email</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="user">
          <input name="email" ngModel required nz-input type="text" placeholder="batman@example.com" id="email"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="pass" [nzSpan]="3" nzRequired>Password</nz-form-label>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input name="pass" ngModel required nz-input type="password" id="pass"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <button nz-button type="submit" [nzType]="'primary'" [disabled]="!this.loginForm.valid">Login</button>
    <p *ngIf="!!loginError">{{loginError}}</p>
  </form>
  <div *ngIf="authService.isLogged()">
    <p>You're logged in as {{authService.getUserEmail()}}.</p>
    <p>Welcome to ehLabs. 💥</p>
    <p><a routerLink="/logout">Logout</a></p>
  </div>
</nz-card>
