<h3>ehLabs Terms of Service</h3>
<p>
  By using ehLabs ("the website or any of its derivative works"), you agree to the following terms,
  which are subject to change without notice at any time:
</p>
<ul>
  <li><p>
    You agree to forfeit access to, and ownership of any data obtained from your direct or
    indirect usage of the site.
  </p></li>
  <li><p>
    All source code appertaining to ehLabs server is closed source software. You agree not to redistribute
    or attempt to construct any derivative work of ehLabs.
  </p></li>
  <li><p>
    ehLabs will not be held liable for any data loss.
  </p></li>
  <li><p>
    Client implementations of ehLabs server via the public API are permitted and encouraged, so long as they do not
    intend to replicate the functionality of ehLabs server or any of its derivative works.
  </p></li>
</ul>
