<nz-layout>
  <nz-header class="desktop-header">
    <app-topmenu></app-topmenu>
  </nz-header>
  <nz-header class="mobile-header">
    <button class="nav-trigger" nz-button nzType="primary" (click)="showModal()" nzShape="round" nzSize="large">
      <i nz-icon nzType="menu"></i>
      ehLabs
    </button>
    <nz-modal
      [(nzVisible)]="isMobileHeaderVisible"
      nzTitle="Navigate ehLabs"
      (nzOnCancel)="handleCancel()"
      [nzFooter]="null"
      [nzStyle]="{ top: '10px' }"
    >
      <div *nzModalContent (click)="handleCancel()">
        <app-topmenu presentationMode="stack"></app-topmenu>
        <p>
          © 2015 - 2020 Copyright:
          <a routerLink="/">ehLabs</a>
        </p>
        <p><a routerLink="/tos">Terms of Service</a></p>
      </div>
    </nz-modal>
  </nz-header>
  <nz-content>
    <div>
      <router-outlet></router-outlet>
    </div>
    <nz-footer>
      <h4>ehLabs</h4>
      <p>
        ehLabs is an experimental social networking application and content management system. By
        continuing to use this site, you agree to the
        <a routerLink="/tos">Terms of Service</a>
        and the use of cookies in your browser.
      </p>
      <p>
        © 2015 - 2020 Copyright:
        <a routerLink="/">ehLabs</a>
      </p>
    </nz-footer>
  </nz-content>
</nz-layout>
