.ant-layout-header {
  color: white;
  background: #001529;
  max-height: 64px;
  min-height: 64px;
}

nz-layout {
  min-height: 100%;
  max-height: 100%;
}

nz-content {
  min-width: 100%;
  max-width: 100%;
  max-height: calc(100% - 64px);
  height: calc(100% - 64px);
  position: relative;
  overflow: auto;
  padding-top: 20px;

  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

nz-content > * {
  width: 100%;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

nz-footer {
  padding: 10px;
  flex: 0 1 auto;
  margin-top: auto;
}

.desktop-header {
  display: block;
}
.mobile-header {
  display: none;
}

@media (max-height: 800px) {
  .desktop-header {
    display: none;
  }
  .mobile-header {
    display: block;
    min-height: 5px;
    max-height: 5px;
    overflow: hidden;
  }
  .mobile-header .nav-trigger {
    position: fixed;
    top: 2px;
    left: 2px;
    z-index: 1;
    opacity: 0.9;
  }
  nz-footer {
    display: none;
  }
}

