<h3>Create a blobpost</h3>
<p *ngIf="!authService.isLogged()">Please <a href="/login">login</a> to make a blog post.</p>
<div *ngIf="authService.isLogged()">
  <form #form ngForm nz-form nzLayout="vertical" (ngSubmit)="submitPost()">
    <nz-form-item>
      <nz-form-label nzFor="title">Title</nz-form-label>
      <nz-form-control>
        <input
          [(ngModel)]="post.title"
          nz-input name="title" type="text" placeholder="My First Post" id="title"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label nzFor="body">Body</nz-form-label>
      <nz-form-control>
        <textarea
          [(ngModel)]="post.body"
          nz-input name="body" ngModel placeholder="blah blah blah" id="body"></textarea>
      </nz-form-control>
    </nz-form-item>
    <button nz-button type="submit">Submit</button>
  </form>
  <p *ngIf="message">{{message}}</p>
</div>

