<nz-card  class="post-card" nzTitle="{{post.title}}" nzExtra="{{post.date | date}}">
  <p>written by <a [routerLink]="['/blog/', post.ownerName]">{{post.ownerName}}</a></p>
  <p>{{renderBody()}}</p>
</nz-card>
