<div class="post-list">
  <h3 *ngIf="!username">Blog</h3>
  <h3 *ngIf="username">
    Posts by {{username}}.
  </h3>
  <p *ngIf="username"><a routerLink="/blog">Show all posts.</a></p>
  <p *ngIf="isLoading">loading posts...</p>
  <p *ngIf="!!errorText">{{errorText}}</p>
  <p *ngIf="!isLoading && !errorText && !posts.length">No posts to show.</p>
  <nz-space nzDirection="vertical" nzSize="large">
    <nz-space-item *ngFor="let post of posts" >
      <app-post-card [post]="post"></app-post-card>
    </nz-space-item>
  </nz-space>
</div>
