<ul nz-menu [nzMode]="presentationMode === 'ribbon' && 'horizontal' || 'vertical'" nzTheme="dark">
  <li nz-menu-item>
    <a routerLink="/">Home</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/blog">Blog</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/compose">Compose</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/chat">Chat</a>
  </li>
  <li nz-menu-item>
    <a routerLink="/about">About</a>
  </li>
  <li nz-menu-item>
    <button nz-button nzType="link" routerLink="/login" *ngIf="!authService.isLogged()">Login</button>
  </li>
  <li nz-menu-item *ngIf="authService.isLogged()">
    <a nz-dropdown [nzDropdownMenu]="menu">
      {{ authService.getUserEmail() }}
    </a>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item>
          <a routerLink="/logout">Logout</a>
        </li>
      </ul>
    </nz-dropdown-menu>
  </li>
</ul>
